<html>
    <head>
        <style>
            body{
                background-color:lightblue;
            }
        </style>
    </head>
    <body>
        <img src="add.png" />
        <font size="5px">
        <p>
            <a href="/">Home</a>
            <a href="/listtask">List Task</a>

        </p>
        <h1>Enter new Customer:</h1>
        <form action="addtask" method="post">
            TaskName  <input type="text" name="TaskName" /><br />
            TaskDue  <input type="text" name="TaskDue" /><br />
            TaskDesc <input type="text" name="TaskDesc" /><br />
            <button style="height: 25px;width: 80px">Submit</button>
        </form>
    </body>
</html>